.counter {
  font-size: 2rem;
  font-weight: 600;
  color: #0a2b1e;
}

.counter__title {
  font-size: 1rem;
  color: #0a2b1e;
  font-weight: 500;
}

.about__content {
  padding-left: 50px;
  background-color: #fff;
}

.about__img img {
  border-radius: 50px;
}

.about__content {
  font-weight: 600;
  background-color: #F2F2F2;
  border-radius: 50px;
}
.counter{
  background-color: #ffc107;
}
.about__content p {
 
  size:24;
}
